<div class="container-wrapper">
  <div class="row justify-content-start">
    <div class="col-12">

    </div>
    <div class="row">
        <div class="card">
          <div class="card-header">
            <div class="float-right">
              <button type="button" class="btn btn-primary" routerLink="/users/add" routerLinkActive="active">
                <i class="bi bi-plus-circle"></i> Nuevo
              </button>
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title">Usuarios</h5>
            <div class="table-responsive">
              <table class="mb-0 table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>UserName</th>
                    <th>Fullname</th>
                    <th>Email</th>
                    <th>Active</th>
                    <th>Detalle</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>admin</td>
                    <td>Administrator</td>
                    <td>admin@gmail.com</td>
                    <td>True</td>
                    <td><a class="btn btn-warning" routerLink="/view-users/1"><i class="bi bi-binoculars-fill"></i> View</a></td>
                    <td><a class="btn btn-success" routerLink="/users/1"><i class="bi bi-pen"></i> Edit</a></td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Table cell</td>
                    <td>Table cell</td>
                    <td>Table cell</td>
                    <td>Table cell</td>
                    <td><a class="btn btn-warning" routerLink="/view-users/1"><i class="bi bi-binoculars-fill"></i> View</a></td>
                    <td><a class="btn btn-success" routerLink="/users/1"><i class="bi bi-pen"></i> Edit</a></td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Table cell</td>
                    <td>Table cell</td>
                    <td>Table cell</td>
                    <td>Table cell</td>
                    <td><a class="btn btn-warning" routerLink="/view-users/1"><i class="bi bi-binoculars-fill"></i> View</a></td>
                    <td><a class="btn btn-success" routerLink="/users/1"><i class="bi bi-pen"></i> Edit</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
